<nav class="navbar">
    <div class="navbar-container">

   
        <a href="/" class="navbar-brand">
            <div class="brand-logo">H</div>

            <div class="brand-details">
                <span class="brand-name">Histogram</span>
                <span class="brand-tagline">Team 2 CA2 | Stories from the past</span>
            </div>
        </a>

        <input
            type="checkbox"
            id="navbar-toggle"
            class="navbar-toggle"
        >

        <label for="navbar-toggle" class="navbar-menu-button">
            <span></span>
            <span></span>
            <span></span>
        </label>


        <div class="navbar-links">

            <a
                href="/"
                class="navbar-link
                <%= activePage === 'home' ? 'active' : '' %>"
            >
                <svg viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M3 10.8 12 3l9 7.8V21h-6v-6H9v6H3V10.8z"/>
                </svg>

                <span>Home</span>
            </a>

            <a
                href="/addPost"
                class="navbar-link
                <%= activePage === 'addPost' ? 'active' : '' %>"
            >
                <svg viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M11 5h2v6h6v2h-6v6h-2v-6H5v-2h6V5z"/>
                </svg>

                <span>Add Post</span>
            </a>

            <a
                href="/accountManagement"
                class="navbar-link account-link
                <%= activePage === 'accountManagement' ? 'active' : '' %>"
            >
                <svg viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M12 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0 2c-4.4 0-8 2.2-8 5v1h16v-1c0-2.8-3.6-5-8-5z"/>
                </svg>

                <span>Account Management</span>
            </a>

        </div>
    </div>
</nav>