<!DOCTYPE html>

<html>

<head>
<title>Login</title>
</head>


<body>


<h1>
User Login
</h1>



<form action="/" method="POST">


<label>
Email:
</label>


<input
type="email"
name="email"
required>


<br><br>


<label>
Password:
</label>


<input
type="password"
name="password"
required>

<label>Password:</label>

<br><br>


<button>
Login
</button>


</form>
<br>



<a href="/register">
Register Account
</a>


</body>


</html>